/* GENERAL SHEET START HERE-----------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0 auto;
	text-align: center;
	font-family:"Roboto", Arial, "sans-serif";
	font-size: 28px;
  	line-height:16px;
  	font-weight: 300;
	color: #fff;
  }

h2 {
	margin: 0 auto;
	text-align: center;
	font-family:"Roboto", Arial, "sans-serif";
	font-size: 18px;
	line-height:16px;
	font-weight: 300;
	color: #fff;
	}

h3 {
	margin: 0 auto;
	text-align: center;
	font-family:"Roboto", Arial, "sans-serif";
	font-size: 16px;
	line-height:18px;
	font-weight: 400;
	padding-top:20px; 
	padding-bottom:10px; 
	color: #fff;
}

p{
	padding:0px; 
	margin: 0 auto;
	display: block;
	text-align: center;
	background-position: center 100px;
	font-family:"Roboto", Arial, "sans-serif";
	font-size: 14px;
  	line-height:20px;
  	font-weight: 400;
	color: #fff;
	width: 400px;
}  
/* GENERAL SHEET END HERE-----------------------------------------------------------------*/










/* CONTAINERS START HERE-----------------------------------------------------------------*/
.wrapper{
	margin: 0 auto;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #F8F8F8;

	font-family:"Roboto", Arial, "sans-serif";
	font-size: 16px;
	color:fff;
}
.wrapper-container{
	margin: 0 auto;
	display: block;
	position: relative;
	width: 1200px;
	height: 100%;

	background-image: url(assets/bg.svg);
	background-position: top 50% right;
	background-repeat: no-repeat;
	background-size: 800px;
}


.container{
	display: inline-block;
	position: relative;
	left:130px;
	width: 410px;	
	height: 420px;
	padding-top:40px;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:40px;
	margin-top: calc(50vh - 245px);
	border-radius: 8px;

	background-color:#4285F4;
	text-align:center;
	color:#fff;
}
/* CONTAINERS END HERE-----------------------------------------------------------------*/








/* FORM ELEMENTS START HERE-----------------------------------------------------------------*/
label{
	display:inline-block;
	vertical-align:top;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
	border:2px #fff solid;

	font-weight:normal;
	background-color: #DFEFFF;
	color:#4285F4;
	width:80px;
	font-size: 14px;

	
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

}
input{
	display:inline-block;
	vertical-align:top;
	text-align:center;
	padding-top:13px;
	padding-bottom:12px;
	padding-left:15px;
	padding-right:15px;
	border:2px;

	font-weight:normal;
	width:30px;
	background-color: #fff;
	color:#4285F4;

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

}
.to{
	display:inline-block;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
}
/* FORM ELEMENTS END HERE-----------------------------------------------------------------*/







/* OTHER ELEMENTS START HERE-----------------------------------------------------------------*/
.showcase{
	display: block;
	position: absolute;
	z-index: 99;
	top: calc(50vh - 200px);
	right:260px;
	text-align: right;

	
	width: 255px;
	height: 40px;
	padding-top:40px;
	padding-right:10px;
	
	font-family:"Roboto", Arial, "sans-serif";
	font-size: 30px;
	color:#4285F4;
	font-weight: bold;
}
/* OTHER ELEMENTS END HERE-----------------------------------------------------------------*/