


<div class="wrapper">    
<div class="wrapper-container">



        <div class="showcase">{{showcase}}</div>


    <!-- Container -->
    <div class="container">




                <!-- Page Title-->
                <h1>{{title}}</h1><br>
                <!-- Page Title-->
            



                <!-- Page Intro-->
                <p>{{message}}</p>
                <!-- Page Intro--> 




                <!-- Page Form-->
                <form [formGroup]="metricform">


                    

                            <!-- Form Section -->
                            <h3>Distance</h3>    
                            <label for="frmMiles">Miles</label>
                            <input type="text" id="frmMiles" formControlName="frmMiles" placeholder="0" autofocus (keyup)="sendMetric('Miles')" (focus)="setStateFocus('Miles')" />
                            <div class="to">&nbsp;to&nbsp;</div>                            
                            <label for="frmKilometers">Kilometers</label>
                            <input type="text" id="frmKilometers" formControlName="frmKilometers" placeholder="0" (keyup)="sendMetric('Kilometers')" (focus)="setStateFocus('Kilometers')" />
                            <!-- Form Section -->



                            <!-- Form Section -->
                            <h3>Mass</h3>
                            <label for="frmPounds">Pounds</label>
                            <input type="text" id="frmPounds" formControlName="frmPounds" placeholder="0" (keyup)="sendMetric('Pounds')" (focus)="setStateFocus('Pounds')"/>
                            <div class="to">&nbsp;to&nbsp;</div> 
                            <label for="frmKilograms">Kilograms</label>
                            <input type="text" id="frmKilograms" formControlName="frmKilograms" placeholder="0"  (keyup)="sendMetric('Kilograms')"  (focus)="setStateFocus('Kilograms')"/>
                            <!-- Form Section -->





                            <!-- Form Section -->
                            <h3>Temperature</h3>
                            <label for="frmFahrenheit">Fahrenheit</label>
                            <input type="text" id="frmFahrenheit" formControlName="frmFahrenheit" placeholder="0" (keyup)="sendMetric('Fahrenheit')" (focus)="setStateFocus('Fahrenheit')" />
                            <div class="to">&nbsp;to&nbsp;</div> 
                            <label for="frmCelsius">Celsius</label>
                            <input type="text" id="frmCelsius" formControlName="frmCelsius" placeholder="0" (keyup)="sendMetric('Celsius')" (focus)="setStateFocus('Celsius')" />
                            <!-- Form Section -->




                </form>
                <!-- Page Form-->



     </div>
     <!-- Container -->



  </div>
  </div>
